header {
    width: 80%;
    height: 200px;
    border: 1px solid red;
}
nav {
    width: 80%;
    height: 200px;
    border: 1px solid red;
}

main {
width: 80%;
height: 200px;
border: 1px solid red;
}
footer {
    width: 80%;
    height: 200px;
    border: 1px solid red;
}
